body
  display flex

nav
  width 250px
  overflow-y auto
  position fixed
  top 0
  background #ddd
  bottom 0

  ul
    list-style none
    margin 0
    padding 0.5em

  li
    padding 0
    margin 0

  a
    display block
    color #444
    padding 0.25em 0.5em
    text-decoration none

    &:hover
      background #ccc

    &:active
      color #fff

    &.active
      background #444
      color #eee

main
  margin-left 250px
  padding 1em
  flex 1

article
  flex 1
  display none
  &.active { display: block; }
  overflow-y auto
  
  > *:first-child
    margin-top 0
  
  h1
    text-transform uppercase
    font-size 2em
  h2
    font-size 1.5em

  img
    width 75%
  
  table
    border-collapse collapse
  
  td, th
    padding 6px 13px
    border 1px solid #ddd

  tr:nth-child(even)
    background-color #f2f2f2
  
  th
    background-color: #bbb;




/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}